name: Pull Request CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run JUnit tests
        run: |
          chmod +x ./gradlew
          bash ./gradlew test
